<!doctype html>
<html>
  <head>
    <title>Finder</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
<meta name="csrf-token" content="{{csrfToken}}">
<meta name="defaultOptions" content="{{defaultOptions}}">
<meta name="domainUrl" content="{{domainUrl}}">
<meta name="materialsOpt" content="{{materialsOpt}}">


<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />


<!-- Load required Bootstrap and BootstrapVue CSS -->
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

<!-- Load polyfills to support older browsers -->
<script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

<!-- Load Vue followed by BootstrapVue -->
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

<!-- Load the following for BootstrapVueIcons support -->
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

 <!-- Load axios js file -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



</head>
<body>
<div id="app" class="container-fluid" style="font-family:'Courier New', Courier, 'Liberation Mono', monospace;'">
    <div class="row mt-3">
        <h1 class="mx-auto title-font-responsive-vw">EVE echoes planetary production finder</h1>
    </div>
    
    <div class="row">

      <autofill :items="autofillItems" v-on:input="onSearchChange" v-on:window-width-change="onWidthChange" v-on:search-set="onSearchSet" v-on:reset="onSearchReset" v-on:search-opt="onSearchOptChange"></autofill>

        <div class="col-xl-3">
            <template >
              <div>
                <label class="mb-0 font-responsive-vw" for="sb-jumps" >Jumps</label>
                <b-form-spinbutton class="mt-0" id="sb-jumps" v-model="jumps" min="0" max="10" step="1" :size="responsiveSize"
                ></b-form-spinbutton>
              </div>
            </template>
        </div>

        <div class="col-xl-3">
            <template >
              <div>
                <label class="mb-0 font-responsive-vw" for="sb-step">Security level</label>
                <b-form-spinbutton class="mt-0" id="sb-step" v-model="securityLevel" min="-1" max="1" step="0.1" :size="responsiveSize"
                ></b-form-spinbutton>
              </div>
            </template>
        </div>
    </div>

    <div class="row mx-3 my-3">
      <tags v-on:update-tags="updateTags" :tags="materialsOpt"></tags>
    </div>

    <div class="row mt-3">
        <b-button  @click="find" variant="outline-secondary" class="mx-auto col-xl-6">Find</b-button>
    </div>

        <div class="row mt-3">
            <b-list-group class="mx-auto">
              <b-list-group-item v-for="result in results" :variant="result.variant">
                ${result.text}
              </b-list-group-item>
            </b-list-group>
        </div>
</div>


<script  type="text/javascript" src="/socket.io/socket.io.js"></script>



<script>


Vue.component('tags', {
  delimiters: ['${', '}'],
  props: ['tags'],
  data: function () {
    return {
      select:[],
      text:''
    }
  },
  computed: {
    //
  },
  template: '<div>\
        <b-button variant="outline-secondary" size="sm" class="my-1 mx-1 px-1 py-0" v-for="tag in tags" :data-value="tag.value"  @click="toggle" style="font-size: smaller;">${tag.text}</b-button>\
</div>',
  mounted:function(){
  },
  methods:{
    toggle(event){
      if (event.target.className.indexOf("active")==-1){
        this.select.push(event.target.dataset.value)
        event.target.classList.add("active");
        event.target.classList.remove("btn-outline-secondary");
        event.target.classList.add("btn-outline-primary");
        this.$emit('update-tags',this.select.sort(function(a, b) {return parseInt(a) - parseInt(b);}));
      }else{
        event.target.classList.remove("active");
        event.target.classList.add("btn-outline-secondary");
        event.target.classList.remove("btn-outline-primary");
        
        var index = this.select.indexOf(event.target.dataset.value);
        if (index > -1) {
          this.select.splice(index, 1);
          this.$emit('update-tags',this.select.sort(function(a, b) {return parseInt(a) - parseInt(b);}));
        }
      }
    },
  },
})

Vue.component('autofill', {
  delimiters: ['${', '}'],
  props: ['items'],
  data: function () {
      return {
        isOpen: false,
        search: '',
        results: [],
        isLoading:false,
        socket:null,
        searchOpt:"system",
        windowWidth: window.innerWidth,
      };
  },
  computed: {
    responsiveSize:function(){
      var ret = "";
      if(this.windowWidth<576){
        ret = "sm"
      }
      return ret;
    },
    choices:function(){
      var temp = [];
      switch(this.searchOpt){
      case 'system':
        this.results.forEach(e=>temp.push(e.region+' > '+e.constellation+' > '+e.name))
        break
      case 'constellation':
        this.results.forEach(e=>temp.push(e.region+' > '+e.constellation))
        break
      case 'region':
        this.results.forEach(e=>temp.push(e.region))
        break
      default:
        //
      }
      return temp
    },
  },
  template: '<div class="col-xl-6">\
  <label class="mb-0 font-responsive-vw" for="location">Location</label>\
  <b-input-group :size="responsiveSize" class="mt-0">\
    <template #append >\
      <b-input-group-text @click="searchInit">\
        <strong  class="text-danger">\
          <b-icon-x></b-icon>\
        </strong>\
      </b-input-group-text>\
    </template>\
    <template #prepend>\
      <b-dropdown :text="searchOpt" variant="secondary" :size="responsiveSize">\
      <b-dropdown-item  @click="getlistOpt(\'system\')" class="font-responsive-vw">system</b-dropdown-item>\
      <b-dropdown-item \
      @click="getlistOpt(\'constellation\')" class="font-responsive-vw">constellation</b-dropdown-item>\
      <b-dropdown-item \
      @click="getlistOpt(\'region\')" class="font-responsive-vw">region</b-dropdown-item>\
      </b-dropdown>\
    </template>\
    <b-form-input id="location" autocomplete="off" list="autocompleteList"\ v-on:keyup.enter="setResult" v-on:change="setResult" v-model="search" \
    v-on:keyup="onChange" ></b-form-input>\
    <datalist id="autocompleteList" >\
      <template v-for="choice in choices">\
        <option >${choice}</option>\
      </template>\
    </datalist>\
  </b-input-group>\
</div>',
    watch: {
      windowWidth(newWidth, oldWidth) {
        this.windowWidth = newWidth;
        this.$emit('window-width-change',newWidth);
      },
      items: function (val, oldValue) {
        if (val !== oldValue) {
          this.results = val;
          this.isLoading = false;
        }
      },
      searchOpt: function (val, oldValue) {
        if (val !== oldValue) {
          this.$emit('search-opt',val);
        }
      },      
      search: function (val, oldValue) {
        if (val !== oldValue) {
        this.$emit('search-set',val);
        }
      },      
    },
    mounted() {
      this.$nextTick(() => {
        document.addEventListener('click', this.handleClickOutside)
        window.addEventListener('resize', this.onResize);
      })
    },
    beforeDestroy() { 
      window.removeEventListener('resize', this.onResize); 
      document.removeEventListener('click', this.handleClickOutside)
  },
  methods:{
      onResize() {
        this.windowWidth = window.innerWidth;
      },
      searchInit:function(code){
        this.$emit('reset');
        this.search='';
      },
      getlistOpt:function(opt){
        this.search='';
        this.searchOpt=opt;
      },
      onChange() {
        this.$emit('input',this.search,this.searchOpt);
        this.isLoading = true;
          },
      setResult(result) {
        var temp;
        switch(this.searchOpt){
          case 'system':
            try{
              temp = this.search.split('>')[2].trim();
            }catch{
              console.log('incatch')
              temp = this.search;
            }
            break
          case 'constellation':
            try{
              temp = this.search.split('>')[1].trim();
            }catch{
              console.log('incatch')
              temp = this.search;
            }
            break
          case 'region':
            try{
              temp = this.search.trim();
            }catch{
              console.log('incatch')
              temp = this.search;
            }
            break
          default:
          //
        }
        console.log('emit location')
        this.$emit('search-set',temp,this.searchOpt);
      },
      handleClickOutside(evt) {
        if (!this.$el.contains(evt.target)) {
          this.isOpen = false;

        }
      }
  },
})

var app = new Vue({
  delimiters: ['${', '}'],
  el: '#app',
  data: {
    domain:JSON.parse(document.querySelector('meta[name="domainUrl"]').getAttribute('content')),
    location:'',
    windowWidth:window.innerWidth,
    responsiveSize:(window.innerWidth<576)&&"sm"||"",
    info:[],
    securityLevel:0.5,
    jumps:5,
    socket:'',
    autofillItems:[],
    searchOpt:"system",
    materialsSelected:[],
    materialsOpt:JSON.parse(document.querySelector('meta[name="materialsOpt"]').getAttribute('content')),
  },
  mounted:function(){
    console.log('mounted');
    this.socket = io(this.domain);
  },
  computed:{
    tags:function(){
      var ret = [];
      for (let i=0;i<this.materialsSelected.length;i++){
          ret.push(this.materialsOpt[this.materialsSelected[i]].text)
      }
      return ret
    },
    results:function(){
      var ret = [];
      var setVariant = {"Poor":"muted","Medium":"warning","Rich":"info","Perfect":"success"}
      if (this.info.length>0){
        switch (this.searchOpt) {
          case 'system':
            for (let i=0;i<this.info.length;i++){
              var e=this.info[i];
              var jumpText = e.jumps>1&&'jumps'||'jump';
              var chunk = `${e.resource} - ${e.richness}: ${e.jumps} ${jumpText} :  ${e.region}-${e.constellation}- ${e.system} - ${e.planet} - ${e.security}`;
              ret.push({text:chunk,variant:setVariant[e.richness]})
            }
            break;
          case 'constellation':
          case 'region':
            for (let i=0;i<this.info.length;i++){
              var e=this.info[i];
              var chunk = `${e.resource} - ${e.richness} :  ${e.region}-${e.constellation}- ${e.system} - ${e.planet} - ${e.security}`
              ret.push({text:chunk,variant:setVariant[e.richness]})
            }
            break;
        }
      }
      return ret
    },
  },
  methods:{
    onWidthChange:function(width){
      this.windowWidth = width;
      var ret = "";
      if(this.windowWidth<576){
        ret = "sm"
      }
      this.responsiveSize = ret;
    },
    onSearchChange:function(search,opt){
      var data = {data:search,opt:opt};
      var self = this;
      return new Promise((resolve,reject) => {
        self.socket.emit('autocomplete', data, function(error, response){
          if (error){reject(error)};
          self.autofillItems=response;
          resolve(response);
        })
      })
    },
    onSearchSet:function(search){
      this.location = search;
    },
    onSearchReset:function(){
      this.location = '';
    },
    onSearchOptChange:function(opt){
      this.searchOpt = opt;
    },
    updateTags:function(tagsList){
      this.materialsSelected = tagsList;
    },
    find:function(){
        var self = this;
        this.info=[];
        var data = {
            searchOpt:this.searchOpt,
            location:this.location,
            materials:this.materialsSelected,
            jumps:this.jumps,
            securityLevel:this.securityLevel,
            }

        if (this.location!==''){
          console.log('send socket')
          console.log(data)
          self.socket.emit('find', data, function(error, response){
            console.log('insocket')
            if (error){console.log(error)};
            if (response!==null){
              self.info=response;}
          })          
        }
    },
  }
});
</script>
<style>
/*title-font-responsive-vw*/
/*xs*/
.title-font-responsive-vw
{
font-size: 1em;
font-weight: bold;
}

/*sm*/
@media screen and (min-width: 576px) { 
  .title-font-responsive-vw{
font-size: 1em;
font-weight: bold;
  }
  }

/*md*/
@media screen and (min-width: 768px) { 
  .title-font-responsive-vw{
font-size: 2em;
  }
  }

/*lg*/
@media screen and (min-width: 992px) { 
  .title-font-responsive-vw{
font-size: 2em;
  }
  }
/*xl*/
@media screen and (min-width: 1200px)
{
  .title-font-responsive-vw{
font-size: 3em;
  }
  }

/*font-responsive-vw*/
/*xs*/
.font-responsive-vw
{
font-size: smaller;
}

/*sm*/
@media screen and (min-width: 576px) { 
  .font-responsive-vw{
font-size: initial;
  }
  }

/*md*/
@media screen and (min-width: 768px) { 
  .font-responsive-vw{
font-size: initial;
  }
  }

/*lg*/
@media screen and (min-width: 992px) { 
  .font-responsive-vw{
font-size: initial;
  }
  }
/*xl*/
@media screen and (min-width: 1200px)
{
  .font-responsive-vw{
font-size: initial;
  }
  }

</style>
</body>
</html>
